_cpusched="eevdf"
_compiler="llvm"
_processor_opt="alderlake"
_debugdisable="true"
_timer_freq="1000"
# NTsync is always enabled in new kernels, but this is science.
_ntsync="true"
_default_cpu_gov="schedutil"
_tickless="2"
# My Tweaks
_distro="Arch"
# Clang LTO mode, only available with the "llvm" compiler - options are "no", "full" or "thin".
# ! This is currently experimental and might result in an unbootable kernel - Not recommended !
# "no: do not enable LTO"
# "full: uses 1 thread for Linking, slow and uses more memory, theoretically with the highest performance gains."
# "thin: uses multiple threads, faster and uses less memory, may have a lower runtime performance than Full."
_lto_mode="full"
# Build only a subset of the default kernel modules list to speedup compile time and lower needed space to build kernel
# Important: - The kernel may fail to boot or behave weirdly with this option active. If it is the case, disable it and rebuild
#              - If it is the case and know which modules were missing, please open a bug report so we can add them to the "diet" db
# Notes:
# - This option cannot be used with _modprobeddb="true"
_kernel_on_diet="true"
# Set to true to use modprobed db to clean config from unneeded modules. Speeds up compilation considerably.
# Requires root - https://wiki.archlinux.org/index.php/Modprobed-db
# Using this option can trigger user prompts if the config doesn't go smoothly.
# Notes:
# - Make sure to have a well populated db
#   - Otherwise use the '_kernel_on_diet' option instead
_modprobeddb="false"
# True Prevents sched-ext LAVD from properly working, see https://github.com/sched-ext/scx/blob/main/kernel.config#L19
_ftracedisable="true"
# Avoid interactive config interfaces.
_menunconfig="false"
_diffconfig="false"
