_cpusched="eevdf"
_compiler="llvm"
_processor_opt="alderlake"
_debugdisable="true"
_timer_freq="1000"
_ntsync="true"
_default_cpu_gov="schedutil"
_tickless="2"
_NR_CPUS_value="20"
# My Tweaks
_distro="Arch"
_lto_mode="thin"
