_cpusched="eevdf"
_compiler="llvm"
_processor_opt="alderlake"
_debugdisable="true"
_timer_freq="1000"
_ntsync="true"
_default_cpu_gov="schedutil"
_tickless="2"
_NR_CPUS_value="20"
# My Tweaks
_distro="Arch"
# Full uses a ton of memory, consider thin for now.
_lto_mode="thin"
# Consider in future, but maybe errors.
_kernel_on_diet: "false"
# True Prevents sched-ext LAVD from properly working, see https://github.com/sched-ext/scx/blob/main/kernel.config#L19
_ftracedisable="true"
# Consider true in future
_modprobeddb="false"
# Avoid interactive config interfaces.
_menunconfig="false"
_diffconfig="false"
